@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Manrope, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-gray-text hover:text-neutral-primary no-underline;
}

* {
  box-sizing: border-box;
}

.navigation,
.navigation-main {
  @apply w-full bg-none fixed top-0 z-50 transition-all duration-500;
}

.navigation-main {
  @apply flex justify-between items-center h-20 px-[120px] py-[10px];
}

.logo {
  @apply relative w-full z-50;
}

.nav-menu,
.nav-menu-item {
  @apply flex justify-between items-start gap-[50px];
}

.nav-menu-item li {
  @apply font-normal text-xl;
}

.header {
  @apply relative m-0 pt-14;
}

.header-wrapper {
  @apply relative flex flex-col w-full h-full overflow-hidden items-start px-[200px] py-[70px] gap-3;
}
.header-wrapper p {
  @apply text-gray-text font-normal text-[25px] leading-[35px];
}

.header-title {
  @apply font-bold text-[80px] text-neutral-primary;
}

.header-wrapper .description {
  @apply text-xl pb-4;
}

.btn-email {
  @apply inline-flex items-center pt-[10px] before:absolute  before:w-[50px] before:h-[50px] before:bg-[#E5E8EF] before:rounded-[50%] before:top-0 before:bottom-0;
}

.btn-email a {
  @apply relative font-semibold text-xl text-neutral-primary pl-[25px];
}
